@font-face {
    font-family: 'handwrite';
    src: url('../font.ttf');
}

html {
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
    color: rgba(0, 0, 0, 0.75);
}

body {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;

    background: #ff5f6d; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top left,
        #ecb669,
        #ff5f6d
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, #ecb669, #ff5f6d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*Navigator*/
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}
.nav > li {
    float: left;
    padding: 10px;
}
.nav > li:hover {
    background: #eee;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    font-size: 22px;
}
/*End naviagtor*/
.wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr;
}
.container {
    grid-row: 1 / 2;
    width: 100%;
}
.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
}
.progressbar li::before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    transition: 200ms;
}
.progressbar li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.4);
    top: 45px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child::after {
    content: none;
}
.progressbar li.active::before {
    /* background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.9) */
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-top: -10px;
}
.progressbar li.danger::before {
    background-color: rgba(216, 40, 40, 0.9);
}
.progressbar li.success::before {
    background-color: rgba(46, 216, 40, 0.8);
}
.progressbar li {
    font-family: monospace;
    color: #fff;
}
.text {
    grid-row: 2 / 3;
    font-family: handwrite;
    font-size: 128px;
    text-align: center;
}
.true {
    color: rgba(46, 216, 40, 0.7);
}
.false {
    color: rgba(216, 40, 40, 0.9);
}
.controls {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    justify-items: center;
    align-items: center;
}
.fas {
    cursor: pointer;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
    border-radius: 15px;
}
.modal-header h2,
.modal-footer h3 {
    margin: 0;
    font-weight: 400;
    font-style: italic;
}
.modal-header {
    background: #ff5f6d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to left,
        #ecb669,
        #ff5f6d
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to left,
        #ecb669,
        #ff5f6d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 15px;
    color: #fff;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.modal-body {
    padding: 10px 20px;
}
.modal-footer {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.modal-footer > button {
    border: none;
    height: 50px;
    width: 100%;
    font-size: 18px;
}
.modal-footer > button:hover {
    background: rgba(255, 141, 96, 0.8);
}
.home {
    border-bottom-left-radius: 10px;
}
.continue {
    border-bottom-right-radius: 10px;
}
@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 24px;
}
th,
td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: center;
}
th {
    background: rgba(255, 141, 96, 0.8);
}
tr:hover {
    background-color: #ddd;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:nth-child(2) {
    border-top-right-radius: 10px;
}
