@font-face {
    font-family: 'handwrite';
    src: url('font.ttf');
}

body {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;

    background: #ff5f6d; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to left,
        #ecb669,
        #ff5f6d
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ecb669, #ff5f6d);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr;
}
.text {
    grid-row: 2 / 3;
    font-family: handwrite;
    font-size: 128px;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
}
.controls {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    justify-items: center;
    align-items: center;
}
.fas {
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
