@font-face {
    font-family: 'handwrite';
    src: url('font.ttf');
}

body {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
    background: #00f260; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to bottom right,
        #0575e6,
        #00f260
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #0575e6, #00f260);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.wrapper {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 10px 10px;
}
.item {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: 200ms;
    border: none;
    border-radius: 10px;
}
.item:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
.title {
    font-size: 72px;
    font-family: handwrite;
    font-weight: 700;
    grid-row: 2 / 3;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
